table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
li {
    color: red;
}
#button1:hover {
    color: silver;
    background-color: rgba(7, 3, 48, 0.596);
}
ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 60px;
    margin-top: 0px;
}
